{% extends 'products_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgotten Password{% endblock %}

{% block content %}  
    <div class="mx-auto col-md-3">
        <h2 class="text-center">Password Reset</h2><hr> 
        <b>Please enter your email address below to receive a password reset link.</b>
        
        <form action="{% url 'forgotPass' %}" method="post">
            {% csrf_token %}  

            <div class="mt-1 mb-3">
                {{form|crispy}}
            </div>
                
            <div class="text-center">
                <input type="submit" class="btn btn-primary btn-lg" value="Continue">
                <a href="{% url 'signInUp' %}" class="btn btn-secondary btn-lg">Back</a>
            </div>
        </form>
    </div>
{% endblock %}