{% extends 'products_app/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="col-md-10 mx-auto">  
        <h2 class="text-center">Password Reset Complete</h2><hr>
    </div>
    
    <div class="col-md-9 mx-auto">
        <p class="text-center pt-2 bg-light rounded">
            Your password has been set. You may go ahead and log in now.
            <a href="{% url 'signInUp' %}" style="text-decoration: none;">SIGN IN</a>
        </p>
    </div>
{% endblock %}