{% extends 'products_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}  
    {% if validlink %}
        <div class="mx-auto col-md-3">
            <h2 class="text-center">New Password</h2><hr> 
            <b>Please enter your new password twice so we can verify you typed it in correctly.</b>
            
            <form action="" method="post">
                {% csrf_token %}  

                <div class="row mt-1 mb-3">
                    {{form.new_password1|as_crispy_field}}
                </div>
            
                <div class="row mb-3">
                    {{form.new_password2|as_crispy_field}}
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit">
                    <a href="{% url 'signInUp' %}" class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </form>
        </div>

    {% else %}
        <div class="col-md-10 mx-auto">
            <h2 class="text-center">Password Reset Unsuccessful</h2><hr>
        </div> 
        
        <div class="col-md-9 mx-auto">
            <p class='px-4 pt-2 bg-light rounded'>
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </p>
        </div> 
    {% endif %}
{% endblock %}