{% extends 'products_app/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="col-md-10 mx-auto">
        <h2 class="text-center">About Us</h2><hr>
    </div> 
    <div class="col-md-9 mx-auto">
        <p class='px-4 pt-2 bg-light rounded'> 
            Programming Books is the best e-commerce site for programmers. There you can find many books of every popular Programming
            language. We offer you the lowest prices of market. Now you don't have to wait so many days for a a valialbe book you so 
            need it. Make your order now.
        </p>
    </div>
{% endblock %}