{% extends 'products_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-md-10 mx-auto">
        <h2 class="text-center">Home</h2><hr> 
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 text-center mt-4">
                    <a href="{% url 'categoryBooks' category.title %}" style="text-decoration:none;">
                        <img src="{{category.image.url}}" width="160px" height="160px">
                        <p>{{category.title}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>   
{% endblock %}